* {
  margin: 0;
  padding: 0;
  border: none;
}

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
}

.app {
  background: oldlace;
}

.credits {
  font-family: sans-serif;
  padding: 10px;
  text-align: center;
  color: darkgoldenrod;
}

.credits a {
  color: blueviolet;
}

.dock {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  padding: 5px;
  background: rgba(0, 0, 0, 0.15);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;
  align-items: flex-end;
}

img {
  cursor: pointer;
}
